/ scrollToTop
/ ================

:sass
  .linked
    display: block
    position: relative
    top: -45px
    visibility: hidden
      
  .top-margin
    margin: 20px 0 0 0 !important


- content_for :title, I18n.t('views.starfish_title')

.scrollToTop.circle
  %i.icon-up-open-big
= render 'home'
= render 'summary'
= render 'who_we_are'
= render 'courses'
= render 'media'
= render 'team'



/ body classes:
/ "boxed": boxed layout mode e.g. <body class="boxed">
/ "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1">
/ "transparent-header": makes the header transparent and pulls the banner to top
/ "gradient-background-header": applies gradient background to header
/ "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html)
%body.no-trans.front-page.page-loader-1
  / scrollToTop
  / ================
  .scrollToTop.circle
    %i.icon-up-open-big
  / page wrapper start
  / ================
  .page-wrapper
    / header-container start
    .header-container
      / header-top start
      / classes:
      / "dark": dark version of header top e.g. class="header-top dark"
      / "colored": colored version of header top e.g. class="header-top colored"
      / ================
      .header-top.colored
        .container
          .row
            .col-xs-2.col-sm-5
              / header-top-first start
              / ================
              .header-top-first.clearfix
                %ul.social-links.circle.small.clearfix.hidden-xs
                  %li.twitter
                    %a{:href => "http://www.twitter.com", :target => "_blank"}
                      %i.fa.fa-twitter
                  %li.skype
                    %a{:href => "http://www.skype.com", :target => "_blank"}
                      %i.fa.fa-skype
                  %li.linkedin
                    %a{:href => "http://www.linkedin.com", :target => "_blank"}
                      %i.fa.fa-linkedin
                  %li.googleplus
                    %a{:href => "http://plus.google.com", :target => "_blank"}
                      %i.fa.fa-google-plus
                  %li.youtube
                    %a{:href => "http://www.youtube.com", :target => "_blank"}
                      %i.fa.fa-youtube-play
                  %li.flickr
                    %a{:href => "http://www.flickr.com", :target => "_blank"}
                      %i.fa.fa-flickr
                  %li.facebook
                    %a{:href => "http://www.facebook.com", :target => "_blank"}
                      %i.fa.fa-facebook
                  %li.pinterest
                    %a{:href => "http://www.pinterest.com", :target => "_blank"}
                      %i.fa.fa-pinterest
                .social-links.hidden-lg.hidden-md.hidden-sm.circle.small
                  .btn-group.dropdown
                    %button.btn.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                      %i.fa.fa-share-alt
                    %ul.dropdown-menu.dropdown-animation
                      %li.twitter
                        %a{:href => "http://www.twitter.com", :target => "_blank"}
                          %i.fa.fa-twitter
                      %li.skype
                        %a{:href => "http://www.skype.com", :target => "_blank"}
                          %i.fa.fa-skype
                      %li.linkedin
                        %a{:href => "http://www.linkedin.com", :target => "_blank"}
                          %i.fa.fa-linkedin
                      %li.googleplus
                        %a{:href => "http://plus.google.com", :target => "_blank"}
                          %i.fa.fa-google-plus
                      %li.youtube
                        %a{:href => "http://www.youtube.com", :target => "_blank"}
                          %i.fa.fa-youtube-play
                      %li.flickr
                        %a{:href => "http://www.flickr.com", :target => "_blank"}
                          %i.fa.fa-flickr
                      %li.facebook
                        %a{:href => "http://www.facebook.com", :target => "_blank"}
                          %i.fa.fa-facebook
                      %li.pinterest
                        %a{:href => "http://www.pinterest.com", :target => "_blank"}
                          %i.fa.fa-pinterest
              / header-top-first end
            .col-xs-10.col-sm-7
              / header-top-second start
              / ================
              #header-top-second.clearfix.text-right
                %nav
                  %ul.list-inline
                    %li
                      %a.link-light{:href => "#"}
                        %i.fa.fa-users.pr-5>
                        Alumni
                    %li
                      %a.link-light{:href => "#"}
                        %i.fa.fa-user.pr-5>
                        Staff/Faculty
                    %li
                      %a.link-light{:href => "#"}
                        %i.fa.fa-child.pr-5>
                        Students
                    %li.hidden-sm.hidden-xs
                      %a.link-light{:href => "#"}
                        %i.fa.fa-flask.pr-5>
                        Researches
                    %li.hidden-sm.hidden-xs
                      %a.link-light{:href => "#"}
                        %i.fa.fa-info-circle.pr-5>
                        Information
                    %li.hidden-sm.hidden-xs
                      %strong.pl-5 Call Us:
                      +12 123 123 123
              / header-top-second end
      / header-top end
      / header start
      / classes:
      / "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix"
      / "dark": dark version of header e.g. class="header dark clearfix"
      / "full-width": mandatory class for the full-width menu layout
      / "centered": mandatory class for the centered logo layout
      / ================
      %header.header.centered.fixed.clearfix
        .container
          .row
            .col-md-12
              / header-left start
              / ================
              .header-left.clearfix
                / logo
                #logo.logo
                  %a{:href => "index.html"}
                    %img#logo_img{:alt => "The Project", :src => "images/logo_cool_green.png"}/
              / header-left end
            .col-md-12
              / header-right start
              / ================
              .header-right.clearfix
                / main-navigation start
                / classes:
                / "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick"
                / "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated"
                / "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns
                / ================
                .main-navigation.animated.with-dropdown-buttons
                  / navbar start
                  / ================
                  %nav.navbar.navbar-default{:role => "navigation"}
                    .container-fluid
                      / Toggle get grouped for better mobile display
                      .navbar-header
                        %button.navbar-toggle{"data-target" => "#navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                          %span.sr-only Toggle navigation
                          %span.icon-bar
                          %span.icon-bar
                          %span.icon-bar
                      / Collect the nav links, forms, and other content for toggling
                      #navbar-collapse-1.collapse.navbar-collapse
                        / main-menu
                        %ul.nav.navbar-nav
                          / mega-menu start
                          %li.dropdown.active.mega-menu
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index.html"} Home
                            %ul.dropdown-menu
                              %li
                                .row
                                  .col-md-12
                                    %h4.title
                                      %i.fa.fa-laptop.pr-10
                                      Demos
                                    .row
                                      .col-sm-6.col-md-3
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "index.html"}
                                              %i.icon-home.pr-10>
                                              Home Default
                                          %li
                                            %a{:href => "index-corporate-1.html"}
                                              %i.icon-suitcase.pr-10>
                                              Corporate 1
                                          %li
                                            %a{:href => "index-corporate-2.html"}
                                              %i.icon-suitcase.pr-10>
                                              Corporate 2
                                          %li
                                            %a{:href => "index-corporate-3.html"}
                                              %i.icon-suitcase.pr-10>
                                              Corporate 3
                                          %li
                                            %a{:href => "index-corporate-4.html"}
                                              %i.icon-suitcase.pr-10>
                                              Corporate 4
                                              %span.badge v1.2
                                          %li
                                            %a{:href => "index-corporate-5.html"}
                                              %i.icon-suitcase.pr-10>
                                              Corporate 5 (Law Firm)
                                              %span.badge New
                                          %li
                                            %a{:href => "index-shop.html"}
                                              %i.icon-basket-1.pr-10>
                                              Commerce 1
                                      .col-sm-6.col-md-3
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "index-shop-2.html"}
                                              %i.icon-basket-1.pr-10>
                                              Commerce 2
                                          %li
                                            %a{:href => "index-portfolio.html"}
                                              %i.icon-briefcase.pr-10>
                                              Portfolio/Agency
                                          %li
                                            %a{:href => "index-medical.html"}
                                              %i.fa.fa-ambulance.pr-10>
                                              Medical
                                          %li
                                            %a{:href => "index-restaurant.html"}
                                              %i.fa.fa-cutlery.pr-10>
                                              Restaurant
                                          %li
                                            %a{:href => "index-restaurant-2.html"}
                                              %i.fa.fa-cutlery.pr-10>
                                              Restaurant 2
                                              %span.badge NEW
                                          %li
                                            %a{:href => "index-wedding.html"}
                                              %i.icon-heart.pr-10>
                                              Wedding
                                          %li
                                            %a{:href => "index-landing.html"}
                                              %i.fa.fa-star.pr-10>
                                              Landing Page
                                      .col-sm-6.col-md-3
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "index-landing-2.html"}
                                              %i.fa.fa-star.pr-10>
                                              Landing Page 2
                                              %span.badge NEW
                                          %li
                                            %a{:href => "page-coming-soon.html"}
                                              %i.fa.fa-clock-o.pr-10>
                                              Coming Soon
                                          %li
                                            %a{:href => "index-one-page.html"}
                                              %i.icon-home.pr-10>
                                              One Page Version
                                          %li
                                            %a{:href => "index-construction.html"}
                                              %i.fa.fa-building.pr-10>
                                              Construction
                                              %span.badge v1.1
                                          %li.active
                                            %a{:href => "index-education.html"}
                                              %i.fa.fa-graduation-cap.pr-10>
                                              Education
                                              %span.badge v1.1
                                          %li
                                            %a{:href => "index-hotel.html"}
                                              %i.fa.fa-bed.pr-10>
                                              Hotel
                                              %span.badge v1.1
                                          %li
                                            %a{:href => "index-blog.html"}
                                              %i.fa.fa-pencil.pr-10>
                                              Blog
                                              %span.badge v1.1
                                      .col-sm-6.col-md-3
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "index-blog-2.html"}
                                              %i.fa.fa-pencil.pr-10>
                                              Blog 2
                                              %span.badge NEW
                                          %li
                                            %a{:href => "index-beauty.html"}
                                              %i.fa.fa-magic.pr-10>
                                              Beauty Center
                                              %span.badge v1.1
                                          %li
                                            %a{:href => "index-gym.html"}
                                              %i.fa.fa-heartbeat.pr-10>
                                              Gym
                                              %span.badge v1.2
                                          %li
                                            %a{:href => "index-resume.html"}
                                              %i.fa.fa-user.pr-10>
                                              Resume
                                              %span.badge v1.2
                                          %li
                                            %a{:href => "index-agency.html"}
                                              %i.fa.fa-users.pr-10>
                                              Agency
                                              %span.badge v1.2
                                          %li
                                            %a{:href => "index-logistics.html"}
                                              %i.fa.fa-truck.pr-10>
                                              Logistics
                                              %span.badge v1.2
                          / mega-menu end
                          / mega-menu start
                          %li.dropdown.mega-menu
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pages
                            %ul.dropdown-menu
                              %li
                                .row
                                  .col-lg-8.col-md-9
                                    %h4.title Pages
                                    .row
                                      .col-sm-4
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "page-about.html"}
                                              %i.fa.fa-angle-right>
                                              About Us 1
                                          %li
                                            %a{:href => "page-about-2.html"}
                                              %i.fa.fa-angle-right>
                                              About Us 2
                                          %li
                                            %a{:href => "page-about-3.html"}
                                              %i.fa.fa-angle-right>
                                              About Us 3
                                          %li
                                            %a{:href => "page-about-4.html"}
                                              %i.fa.fa-angle-right>
                                              About Us 4
                                          %li
                                            %a{:href => "page-about-me.html"}
                                              %i.fa.fa-angle-right>
                                              About Me
                                          %li
                                            %a{:href => "page-team.html"}
                                              %i.fa.fa-angle-right>
                                              Our Team - Options 1
                                          %li
                                            %a{:href => "page-team-2.html"}
                                              %i.fa.fa-angle-right>
                                              Our Team - Options 2
                                          %li
                                            %a{:href => "page-team-3.html"}
                                              %i.fa.fa-angle-right>
                                              Our Team - Options 3
                                          %li
                                            %a{:href => "page-coming-soon.html"}
                                              %i.fa.fa-angle-right>
                                              Coming Soon Page
                                          %li
                                            %a{:href => "page-faq.html"}
                                              %i.fa.fa-angle-right>
                                              FAQ page
                                      .col-sm-4
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "page-services.html"}
                                              %i.fa.fa-angle-right>
                                              Services 1
                                          %li
                                            %a{:href => "page-services-2.html"}
                                              %i.fa.fa-angle-right>
                                              Services 2
                                          %li
                                            %a{:href => "page-services-3.html"}
                                              %i.fa.fa-angle-right>
                                              Services 3
                                          %li
                                            %a{:href => "page-contact.html"}
                                              %i.fa.fa-angle-right>
                                              Contact 1
                                          %li
                                            %a{:href => "page-contact-2.html"}
                                              %i.fa.fa-angle-right>
                                              Contact 2
                                          %li
                                            %a{:href => "page-contact-3.html"}
                                              %i.fa.fa-angle-right>
                                              Contact 3
                                          %li
                                            %a{:href => "page-login.html"}
                                              %i.fa.fa-angle-right>
                                              Login 1
                                          %li
                                            %a{:href => "page-login-2.html"}
                                              %i.fa.fa-angle-right>
                                              Login 2 - Fullsreen
                                          %li
                                            %a{:href => "page-signup.html"}
                                              %i.fa.fa-angle-right>
                                              Sign Up 1
                                          %li
                                            %a{:href => "page-signup-2.html"}
                                              %i.fa.fa-angle-right>
                                              Sign Up 2 - Fullsreen
                                      .col-sm-4
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "page-404.html"}
                                              %i.fa.fa-angle-right>
                                              404 error
                                          %li
                                            %a{:href => "page-404-2.html"}
                                              %i.fa.fa-angle-right>
                                              404 error - Parallax
                                          %li
                                            %a{:href => "page-affix-sidebar.html"}
                                              %i.fa.fa-angle-right>
                                              Sidebar - Affix Menu
                                          %li
                                            %a{:href => "page-left-sidebar.html"}
                                              %i.fa.fa-angle-right>
                                              Left Sidebar
                                          %li
                                            %a{:href => "page-right-sidebar.html"}
                                              %i.fa.fa-angle-right>
                                              Right Sidebar
                                          %li
                                            %a{:href => "page-two-sidebars.html"}
                                              %i.fa.fa-angle-right>
                                              Two Sidebars
                                          %li
                                            %a{:href => "page-two-sidebars-left.html"}
                                              %i.fa.fa-angle-right>
                                              Two Sidebars Left
                                          %li
                                            %a{:href => "page-two-sidebars-right.html"}
                                              %i.fa.fa-angle-right>
                                              Two Sidebars Right
                                          %li
                                            %a{:href => "page-no-sidebars.html"}
                                              %i.fa.fa-angle-right>
                                              No Sidebars
                                          %li
                                            %a{:href => "page-sitemap.html"}
                                              %i.fa.fa-angle-right>
                                              Sitemap
                                  .col-lg-4.col-md-3.hidden-sm
                                    %h4.title Premium HTML5 Template
                                    %p.mb-10 The Project is perfectly suitable for corporate, business and company webpages.
                                    %img{:alt => "The Project", :src => ""}/
                          / mega-menu end
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Features
                            %ul.dropdown-menu
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                  Headers
                                  %span.badge v1.2
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-headers-default.html"} Default/Semi-Transparent
                                  %li
                                    %a{:href => "features-headers-default-dark.html"} Dark/Semi-Transparent
                                  %li
                                    %a{:href => "features-headers-gradient-dark.html"}
                                      Gradient Dark
                                      %span.badge v1.2
                                  %li
                                    %a{:href => "features-headers-gradient-light.html"}
                                      Gradient Light
                                      %span.badge v1.2
                                  %li
                                    %a{:href => "features-headers-classic.html"} Classic Light
                                  %li
                                    %a{:href => "features-headers-classic-dark.html"} Classic Dark
                                  %li
                                    %a{:href => "features-headers-colored.html"} Colored/Light
                                  %li
                                    %a{:href => "features-headers-colored-dark.html"} Colored/Dark
                                  %li
                                    %a{:href => "features-headers-full-width.html"} Full Width
                                  %li
                                    %a{:href => "features-headers-offcanvas-left.html"} Offcanvas Left Side
                                  %li
                                    %a{:href => "features-headers-offcanvas-right.html"} Offcanvas Right Side
                                  %li
                                    %a{:href => "features-headers-logo-centered.html"} Logo Centered
                                  %li
                                    %a{:href => "features-headers-slider-top.html"} Slider Top
                                  %li
                                    %a{:href => "features-headers-simple.html"} Simple Static
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                  Sticky Headers
                                  %span.badge v1.2
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-headers-default.html"} Default
                                  %li
                                    %a{:href => "features-headers-sticky-2.html"}
                                      Alternative
                                      %span.badge v1.2
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Menus
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-headers-default.html"} Default/On Hover Menu
                                  %li
                                    %a{:href => "features-menus-onhover-no-animations.html"} On Hover Menu - No Animations
                                  %li
                                    %a{:href => "features-menus-onclick.html"} On Click Menu - With Animations
                                  %li
                                    %a{:href => "features-menus-onclick-no-animations.html"} On Click Menu - No Animations
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                  Footers
                                  %span.badge v1.2
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-footers-default.html#footer"} Default
                                  %li
                                    %a{:href => "features-footers-contact-form.html#footer"} Contact Form
                                  %li
                                    %a{:href => "features-footers-contact-form-2.html#footer"}
                                      Contact Form 2
                                      %span.badge v1.2
                                  %li
                                    %a{:href => "features-footers-google-maps.html#footer"} Google Maps
                                  %li
                                    %a{:href => "features-footers-subscribe.html#footer"} Subscribe Form
                                  %li
                                    %a{:href => "features-footers-minimal.html#footer"} Minimal
                                  %li
                                    %a{:href => "features-footers-links.html#footer"}
                                      Links
                                      %span.badge v1.1
                                  %li
                                    %a{:href => "features-footers-full-width.html#footer"}
                                      Full Width
                                      %span.badge v1.2
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                  Main Sliders
                                  %span.badge v1.2
                                %ul.dropdown-menu
                                  %li.dropdown-header.default-bg SLIDER REVOLUTION 5 - v1.2
                                  %li
                                    %a{:href => "features-sliders-fullscreen.html"} Full Screen
                                  %li
                                    %a{:href => "features-sliders-fullwidth.html"} Full Width
                                  %li
                                    %a{:href => "features-sliders-fullwidth-big-height.html"} Full Width - Big Height
                                  %li
                                    %a{:href => "features-sliders-boxedwidth-light.html"} Boxed Width - Light Bg
                                  %li
                                    %a{:href => "features-sliders-boxedwidth-dark.html"} Boxed Width - Dark Bg
                                  %li
                                    %a{:href => "features-sliders-boxedwidth-default.html"} Boxed Width - Default Bg
                                  %li
                                    %a{:href => "features-sliders-video-background.html"} Video Background
                                  %li
                                    %a{:href => "features-sliders-text-rotator.html"} Text Rotator
                                  %li.dropdown
                                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Revolution 4
                                    %ul.dropdown-menu
                                      %li
                                        %a{:href => "features-sliders-revolution-4-fullscreen.html"} Full Screen
                                      %li
                                        %a{:href => "features-sliders-revolution-4-fullwidth.html"} Full Width
                                      %li
                                        %a{:href => "features-sliders-revolution-4-fullwidth-big-height.html"} Full Width - Big Height
                                      %li
                                        %a{:href => "features-sliders-revolution-4-boxedwidth-light.html"} Boxed Width - Light Bg
                                      %li
                                        %a{:href => "features-sliders-revolution-4-boxedwidth-dark.html"} Boxed Width - Dark Bg
                                      %li
                                        %a{:href => "features-sliders-revolution-4-boxedwidth-default.html"} Boxed Width - Default Bg
                                      %li
                                        %a{:href => "features-sliders-revolution-4-video-background.html"} Video Background
                                      %li
                                        %a{:href => "features-sliders-revolution-4-text-rotator.html"} Text Rotator
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                                  Email Templates
                                  %span.badge v1.1
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "email_templates/email_template_blue.html", :target => "_blank"} Blue
                                  %li
                                    %a{:href => "email_templates/email_template_brown.html", :target => "_blank"} Brown
                                  %li
                                    %a{:href => "email_templates/email_template_cool_green.html", :target => "_blank"} Cool Green
                                  %li
                                    %a{:href => "email_templates/email_template_dark_cyan.html", :target => "_blank"} Dark Cyan
                                  %li
                                    %a{:href => "email_templates/email_template_dark_red.html", :target => "_blank"} Dark Red
                                  %li
                                    %a{:href => "email_templates/email_template_gold.html", :target => "_blank"} Gold
                                  %li
                                    %a{:href => "email_templates/email_template_gray.html", :target => "_blank"} Gray
                                  %li
                                    %a{:href => "email_templates/email_template_green.html", :target => "_blank"} Green
                                  %li
                                    %a{:href => "email_templates/email_template_light_blue.html", :target => "_blank"} Light Blue
                                  %li
                                    %a{:href => "email_templates/email_template_orange.html", :target => "_blank"} Orange
                                  %li
                                    %a{:href => "email_templates/email_template_pink.html", :target => "_blank"} Pink
                                  %li
                                    %a{:href => "email_templates/email_template_purple.html", :target => "_blank"} Purple
                                  %li
                                    %a{:href => "email_templates/email_template_red.html", :target => "_blank"} Red
                                  %li
                                    %a{:href => "email_templates/email_template_vivid_red.html", :target => "_blank"} Vivid Red
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Pricing Tables
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-pricing-tables-1.html"} Pricing Tables 1
                                  %li
                                    %a{:href => "features-pricing-tables-2.html"} Pricing Tables 2
                                  %li
                                    %a{:href => "features-pricing-tables-3.html"} Pricing Tables 3
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Icons
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "features-icons-fontawesome.html"} Font Awesome
                                  %li
                                    %a{:href => "features-icons-fontello.html"} Fontello
                                  %li
                                    %a{:href => "features-icons-glyphicons.html"} Glyphicons
                              %li
                                %a{:href => "features-dark-page.html"} Dark Page
                              %li
                                %a{:href => "features-typography.html"} Typography
                              %li
                                %a{:href => "features-backgrounds.html"} Backgrounds
                              %li
                                %a{:href => "features-grid.html"} Grid
                          / mega-menu start
                          %li.dropdown.mega-menu.narrow
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Components
                            %ul.dropdown-menu
                              %li
                                .row
                                  .col-md-12
                                    %h4.title
                                      %i.fa.fa-magic.pr-10
                                      Components
                                    .row
                                      .col-sm-6
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "components-social-icons.html"}
                                              %i.icon-share.pr-10>
                                              Social Icons
                                          %li
                                            %a{:href => "components-buttons.html"}
                                              %i.icon-flask.pr-10>
                                              Buttons
                                          %li
                                            %a{:href => "components-forms.html"}
                                              %i.icon-eq.pr-10>
                                              Forms
                                          %li
                                            %a{:href => "components-tabs-and-pills.html"}
                                              %i.icon-dot-3.pr-10>
                                              Tabs &amp; Pills
                                          %li
                                            %a{:href => "components-accordions.html"}
                                              %i.icon-menu-outline.pr-10>
                                              Accordions
                                          %li
                                            %a{:href => "components-progress-bars.html"}
                                              %i.icon-chart-line.pr-10>
                                              Progress Bars
                                          %li
                                            %a{:href => "components-call-to-action.html"}
                                              %i.icon-chat.pr-10>
                                              Call to Action Blocks
                                          %li
                                            %a{:href => "components-alerts-and-callouts.html"}
                                              %i.icon-info-circled.pr-10>
                                              Alerts &amp; Callouts
                                          %li
                                            %a{:href => "components-content-sliders.html"}
                                              %i.icon-star-filled.pr-10>
                                              Content Sliders
                                          %li
                                            %a{:href => "components-charts.html"}
                                              %i.icon-chart-pie.pr-10>
                                              Charts
                                          %li
                                            %a{:href => "components-page-loaders.html"}
                                              %i.fa.fa-circle-o-notch.fa-spin>
                                              Page Loaders
                                              %span.badge v1.1
                                          %li
                                            %a{:href => "components-icon-boxes.html"}
                                              %i.icon-picture-outline.pr-10>
                                              Icon Boxes
                                      .col-sm-6
                                        .divider
                                        %ul.menu
                                          %li
                                            %a{:href => "components-image-boxes.html"}
                                              %i.icon-camera-1.pr-10>
                                              Image Boxes
                                          %li
                                            %a{:href => "components-fullwidth-sections.html"}
                                              %i.icon-code-1.pr-10>
                                              Full Width Sections
                                          %li
                                            %a{:href => "components-animations.html"}
                                              %i.icon-docs.pr-10>
                                              Animations
                                          %li
                                            %a{:href => "components-video-and-audio.html"}
                                              %i.icon-video.pr-10>
                                              Video &amp; Audio
                                          %li
                                            %a{:href => "components-lightbox.html"}
                                              %i.icon-plus.pr-10>
                                              Lightbox
                                          %li
                                            %a{:href => "components-counters.html"}
                                              %i.icon-sort-numeric.pr-10>
                                              Counters
                                          %li
                                            %a{:href => "components-modals.html"}
                                              %i.icon-popup.pr-10>
                                              Modals
                                          %li
                                            %a{:href => "components-tables.html"}
                                              %i.icon-th.pr-10>
                                              Tables
                                          %li
                                            %a{:href => "components-text-rotators.html"}
                                              %i.icon-arrows-ccw.pr-10>
                                              Text Rotators
                                          %li
                                            %a{:href => "components-announcement-default.html"}
                                              %i.icon-megaphone.pr-10>
                                              Announcements
                                              %span.badge NEW
                                          %li
                                            %a{:href => "components-separators.html"}
                                              %i.icon-star.pr-10>
                                              Separators
                                              %span.badge NEW
                          / mega-menu end
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "portfolio-grid-2-3-col.html"} Portfolio
                            %ul.dropdown-menu
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 1
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "portfolio-grid-1-2-col.html"} 2 Column
                                  %li
                                    %a{:href => "portfolio-grid-1-3-col.html"} 3 Column
                                  %li
                                    %a{:href => "portfolio-grid-1-4-col.html"} 4 Column
                                  %li
                                    %a{:href => "portfolio-grid-1-sidebar.html"} With Sidebar
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 2
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "portfolio-grid-2-2-col.html"} 2 Column
                                  %li
                                    %a{:href => "portfolio-grid-2-3-col.html"} 3 Column
                                  %li
                                    %a{:href => "portfolio-grid-2-4-col.html"} 4 Column
                                  %li
                                    %a{:href => "portfolio-grid-2-sidebar.html"} With Sidebar
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Grid 3 - Dark
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "portfolio-grid-3-2-col.html"} 2 Column
                                  %li
                                    %a{:href => "portfolio-grid-3-3-col.html"} 3 Column
                                  %li
                                    %a{:href => "portfolio-grid-3-4-col.html"} 4 Column
                                  %li
                                    %a{:href => "portfolio-grid-3-sidebar.html"} With Sidebar
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio Fullwidth
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "portfolio-fullwidth-2-col.html"} 2 Column
                                  %li
                                    %a{:href => "portfolio-fullwidth-3-col.html"} 3 Column
                                  %li
                                    %a{:href => "portfolio-fullwidth-4-col.html"} 4 Column
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Portfolio List
                                %ul.dropdown-menu
                                  %li
                                    %a{:href => "portfolio-list-1.html"} List - Large Images
                                  %li
                                    %a{:href => "portfolio-list-2.html"} List - Small Images
                                  %li
                                    %a{:href => "portfolio-list-sidebar.html"} With Sidebar
                              %li
                                %a{:href => "portfolio-item.html"} Single Item 1
                              %li
                                %a{:href => "portfolio-item-2.html"} Single Item 2
                              %li
                                %a{:href => "portfolio-item-3.html"} Single Item 3
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "index-shop.html"} Shop
                            %ul.dropdown-menu
                              %li
                                %a{:href => "index-shop.html"} Shop Home 1
                              %li
                                %a{:href => "index-shop-2.html"} Shop Home 2
                              %li
                                %a{:href => "shop-listing-4col.html"} Grid - 4 Columns
                              %li
                                %a{:href => "shop-listing-3col.html"} Grid - 3 Columns
                              %li
                                %a{:href => "shop-listing-2col.html"} Grid - 2 Columns
                              %li
                                %a{:href => "shop-listing-sidebar.html"} Grid - With Sidebar
                              %li
                                %a{:href => "shop-listing-list.html"} List
                              %li
                                %a{:href => "shop-product.html"} Product Page
                              %li
                                %a{:href => "shop-product-2.html"}
                                  Product Page 2
                                  %span.badge NEW
                              %li
                                %a{:href => "shop-cart.html"} Shopping Cart
                              %li
                                %a{:href => "shop-checkout.html"} Checkout Page - Step 1
                              %li
                                %a{:href => "shop-checkout-payment.html"} Checkout Page - Step 2
                              %li
                                %a{:href => "shop-checkout-review.html"} Checkout Page - Step 3
                              %li
                                %a{:href => "shop-invoice.html"} Invoice
                          %li.dropdown
                            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "blog-large-image-right-sidebar.html"} Blog
                            %ul.dropdown-menu
                              %li
                                %a{:href => "index-blog.html"}
                                  Blog Home
                                  %span.badge v1.1
                              %li
                                %a{:href => "index-blog-2.html"}
                                  Blog Home 2
                                  %span.badge NEW
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Large Image
                                %ul.dropdown-menu.to-left
                                  %li
                                    %a{:href => "blog-large-image-right-sidebar.html"} Right Sidebar
                                  %li
                                    %a{:href => "blog-large-image-left-sidebar.html"} Left Sidebar
                                  %li
                                    %a{:href => "blog-large-image-no-sidebar.html"} Without Sidebar
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Medium Image
                                %ul.dropdown-menu.to-left
                                  %li
                                    %a{:href => "blog-medium-image-right-sidebar.html"} Right Sidebar
                                  %li
                                    %a{:href => "blog-medium-image-left-sidebar.html"} Left Sidebar
                                  %li
                                    %a{:href => "blog-medium-image-no-sidebar.html"} Without Sidebar
                              %li.dropdown
                                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Masonry
                                %ul.dropdown-menu.to-left
                                  %li
                                    %a{:href => "blog-masonry-right-sidebar.html"} Right Sidebar
                                  %li
                                    %a{:href => "blog-masonry-left-sidebar.html"} Left Sidebar
                                  %li
                                    %a{:href => "blog-masonry-no-sidebar.html"} Without Sidebar
                              %li
                                %a{:href => "blog-timeline.html"} Timeline
                              %li
                                %a{:href => "blog-post.html"} Blog Post
                        / main-menu end
                        / header buttons
                        .header-dropdown-buttons
                          %a.btn.btn-sm.hidden-xs.btn-default{:href => "mailto:theproject@info.com"}
                            Contact Us
                            %i.fa.fa-envelope-o.pl-5
                          %a.btn.btn-lg.visible-xs.btn-block.btn-default{:href => "mailto:theproject@info.com"}
                            Contact Us
                            %i.fa.fa-envelope-o.pl-5
                        / header buttons end
                  / navbar end
                / main-navigation end
              / header-right end
      / header end
    / header-container end
    / banner start
    / ================
    .banner.clearfix
      / slideshow start
      / ================
      .slideshow
        / slider revolution start
        / ================
        .slider-banner-container
          .slider-banner-fullwidth
            %ul.slides
              / slide 1 start
              / ================
              %li{"data-masterspeed" => "500", "data-saveperformance" => "on", "data-slotamount" => "4", "data-title" => "Next Generation Template", "data-transition" => "fade"}
                / main image
                %img{:alt => "slidebg1", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "images/education-slider-slide-1.jpg"}/
                / LAYER NR. 1
                .tp-caption.fade.fadeout.dark-translucent-bg.caption-box.text-left{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "1300", "data-x" => "right", "data-y" => "bottom", :style => "background-color: rgba(0, 0, 0, 0.45);"}
                  %h2.title
                    %a.link-light{:href => "#"} Learn from the best
                  .separator-2.light.clearfix.hidden-xs
                  %p.hidden-xs Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.
                  .text-right.hidden-xs
                    %a.btn.btn-small.btn-default.margin-clear{:href => "page-services.html"} Read More
              / slide 1 end
              / slide 2 start
              / ================
              %li{"data-masterspeed" => "500", "data-saveperformance" => "on", "data-slotamount" => "4", "data-title" => "Premium Bootstrap Template", "data-transition" => "fade"}
                / main image
                %img{:alt => "slidebg2", "data-bgfit" => "cover", "data-bgposition" => "center top", "data-bgrepeat" => "no-repeat", :src => "images/education-slider-slide-2.jpg"}/
                / LAYER NR. 1
                .tp-caption.fade.fadeout.dark-translucent-bg.caption-box.text-left{"data-easing" => "easeOutQuad", "data-endspeed" => "600", "data-speed" => "500", "data-start" => "1300", "data-x" => "right", "data-y" => "bottom", :style => "background-color: rgba(0, 0, 0, 0.45);"}
                  %h2.title
                    %a.link-light{:href => "#"} Study to the College
                  .separator-2.light.clearfix.hidden-xs
                  %p.hidden-xs Voluptatem ad provident non repudiandae beatae cupiditate amet reiciendis lorem ipsum dolor sit amet, consectetur.
                  .text-right.hidden-xs
                    %a.btn.btn-small.btn-default.margin-clear{:href => "page-services.html"} Read More
              / slide 2 end
            .tp-bannertimer
        / slider revolution end
      / slideshow end
    / banner end
    #page-start
    / section start
    / ================
    %section.section.clearfix
      .container
        .row
          .col-md-6
            %h3
              Latest
              %span.text-default News
            .separator-2
            .block
              .media.margin-clear
                .media-left
                  .overlay-container
                    %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-1.jpg"}/
                    %a.overlay-link.small{:href => "blog-post.html"}
                      %i.fa.fa-link
                .media-body
                  %h5.media-heading
                    %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet
                  %p.small
                    %i.fa.fa-calendar.pr-10>
                    Mar 23, 2015
                  %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
                  %a{:href => "#"} Read More
                %hr/
              .media.margin-clear
                .media-left
                  .overlay-container
                    %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-2.jpg"}/
                    %a.overlay-link.small{:href => "blog-post.html"}
                      %i.fa.fa-link
                .media-body
                  %h5.media-heading
                    %a{:href => "blog-post.html"} Perspiciatis laborum necess
                  %p.small
                    %i.fa.fa-calendar.pr-10>
                    Mar 22, 2015
                  %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
                  %a{:href => "#"} Read More
                %hr/
              .media.margin-clear
                .media-left
                  .overlay-container
                    %img.media-object{:alt => "blog-thumb", :src => "images/medical-blog-thumb-3.jpg"}/
                    %a.overlay-link.small{:href => "blog-post.html"}
                      %i.fa.fa-link
                .media-body
                  %h5.media-heading
                    %a{:href => "blog-post.html"} Cum eligendi nisi rerum porro
                  %p.small
                    %i.fa.fa-calendar.pr-10>
                    Mar 21, 2015
                  %p.margin-clear.small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt corrupti, cum exercitationem.
                  %a{:href => "#"} Read More
          .col-md-3
            %h3
              %span.text-default Events
            .separator-2
            .small
              %i.fa.fa-calendar.pr-10>
              Oct 23, 2015
              = succeed "10:25" do
                %i.fa.fa-clock-o.pl-10.pr-10
            %h5
              %a{:href => "blog-post.html"} Lorem ipsum dolor sit amet
            %hr/
            .small
              %i.fa.fa-calendar.pr-10>
              Oct 23, 2015
              = succeed "9:55" do
                %i.fa.fa-clock-o.pl-10.pr-10
            %h5
              %a{:href => "blog-post.html"} Consectetur adipisicing elit
            %hr/
            .small
              %i.fa.fa-calendar.pr-10>
              Oct 23, 2015
              = succeed "11:05" do
                %i.fa.fa-clock-o.pl-10.pr-10
            %h5
              %a{:href => "blog-post.html"} Dignissimos, sapiente enim
            %hr/
            .small
              %i.fa.fa-calendar.pr-10>
              Oct 23, 2015
              = succeed "07:45" do
                %i.fa.fa-clock-o.pl-10.pr-10
            %h5
              %a{:href => "blog-post.html"} Architecto dignissimos labore
            %hr/
            %a.btn.btn-default{:href => "#"}
              %i.fa.fa-calendar.pr-10
              See More Events
          .col-md-3
            %h3
              Top
              %span.text-default Stories
            .separator-2
            .owl-carousel.content-slider-with-large-controls-autoplay.dark-controls.light-gray-bg.buttons-hide
              .image-box.style-2
                .overlay-container.overlay-visible
                  %img{:alt => "", :src => "images/education-1.jpg"}/
                  %a.overlay-link{:href => "#"}
                    %i.fa.fa-link
                  .overlay-bottom
                    .text
                      %p.lead.margin-clear.text-left.mobile-visible Graduation
                .body.padding-horizontal-clear
                  %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
                  %a.link-dark{:href => "page-services.html"}
                    Read More
                    %i.pl-5.fa.fa-angle-double-right
              .image-box.style-2
                .overlay-container.overlay-visible
                  %img{:alt => "", :src => "images/education-2.jpg"}/
                  %a.overlay-link{:href => "#"}
                    %i.fa.fa-link
                  .overlay-bottom
                    .text
                      %p.lead.margin-clear.text-left.mobile-visible A success story
                .body.padding-horizontal-clear
                  %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
                  %a.link-dark{:href => "page-services.html"}
                    Read More
                    %i.pl-5.fa.fa-angle-double-right
              .image-box.style-2
                .overlay-container.overlay-visible
                  %img{:alt => "", :src => "images/education-3.jpg"}/
                  %a.overlay-link{:href => "#"}
                    %i.fa.fa-link
                  .overlay-bottom
                    .text
                      %p.lead.margin-clear.text-left.mobile-visible Lorem Ipsum sit amt
                .body.padding-horizontal-clear
                  %p Lorem ipsum dolor sit amet, consectetur adipis elit. Aliquam atque ipsam nihil dood truck quinoa.
                  %a.link-dark{:href => "page-services.html"}
                    Read More
                    %i.pl-5.fa.fa-angle-double-right
    / section end
    / section start
    / ================
    %section.section.pv-40.light-gray-bg.clearfix
      .container
        .row
          .col-md-8.col-md-offset-2
            %h3.title.text-center
              Studying at
              %span.text-default College
            .separator
            %p.lead.text-center Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo dignissimos, adipisci ipsa aut.
      .container-fluid
        .row
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-4.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Admissions
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-5.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Education
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-6.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Departments
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-7.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Library
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-8.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Staff/Faculty
          .col-sm-6.col-md-4.col-lg-2
            .image-box.shadow.text-center.mb-20
              .overlay-container.overlay-visible
                %img{:alt => "", :src => "images/education-9.jpg"}/
                %a.overlay-link{:href => "#"}
                  %i.fa.fa-link
                .overlay-bottom
                  .text
                    %p.lead.margin-clear.mobile-visible Alumni
    / section end
    / footer top start
    / ================
    .pv-40.footer-top
      .container
        %h3.logo-font
          The
          %span.text-default College
        .separator-2
        .row.mb-20
          .col-lg-6
            %img{:alt => "", :src => "images/education-about.jpg"}/
          .col-lg-6
            %h3
              Since
              %span.text-default 1910
            %p
              %em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente unde id porro saepe enim ipsam, architecto dicta iste adipisci eligendi aliquid cupiditate molestias corrupti, suscipit corporis exercitationem quis alias dolor.
            %p
              %em Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo culpa cupiditate iure deserunt eveniet reprehenderit placeat, magnam voluptas magni maiores numquam cum veritatis enim quam deleniti repudiandae perferendis! Dolores, illo.
            %h3
              Connect with
              %span.text-default us
            %ul.social-links.default.circle.animated-effect-1
              %li.facebook
                %a{:href => "http://www.facebook.com", :target => "_blank"}
                  %i.fa.fa-facebook
              %li.twitter
                %a{:href => "http://www.twitter.com", :target => "_blank"}
                  %i.fa.fa-twitter
              %li.googleplus
                %a{:href => "http://plus.google.com", :target => "_blank"}
                  %i.fa.fa-google-plus
              %li.skype
                %a{:href => "http://www.skype.com", :target => "_blank"}
                  %i.fa.fa-skype
              %li.instagram
                %a{:href => "http://www.instagram.com", :target => "_blank"}
                  %i.fa.fa-instagram
              %li.linkedin
                %a{:href => "http://www.linkedin.com", :target => "_blank"}
                  %i.fa.fa-linkedin
              %li.pinterest
                %a{:href => "http://www.pinterest.com", :target => "_blank"}
                  %i.fa.fa-pinterest
              %li.flickr
                %a{:href => "http://www.flickr.com", :target => "_blank"}
                  %i.fa.fa-flickr
        .row
          .col-md-12
            .call-to-action.pv-40.text-center
              .row
                .col-sm-8.col-sm-offset-2
                  %h2.title Get the latest College news.
                  .separator.mb-20
                  %form.form-inline.margin-clear
                    .form-group.has-feedback
                      %label.sr-only{:for => "subscribe3"} Email address
                      %input#subscribe3.form-control.form-control-lg{:name => "subscribe3", :placeholder => "Enter email", :required => "", :type => "email"}/
                      %i.fa.fa-envelope.form-control-feedback
                    %button.btn.btn-lg.btn-default.btn-animated.margin-clear{:type => "submit"}
                      Subscribe
                      %i.fa.fa-send
    / footer top end
    / footer start (Add "dark" class to #footer in order to enable dark footer)
    / ================
    %footer#footer.clearfix
      / .footer start
      / ================
      .footer
        .container
          .footer-inner
            .row
              .col-md-3
                .footer-content
                  %h2.title.logo-font.text-default The College
                  .separator-2
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Lorem ipsum dolor sit
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Consectetur adipisicing elit
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Rerum iure temporibus
                  %h4.title.text-default
                    %i.fa.fa-wechat.pr-10
                    Consectetur adipisicing
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-forms.html"}
                          %i.fa.fa-chevron-circle-right
                          Repudiandae porro doloribus
                      %li
                        %a{:href => "components-tabs-and-pills.html"}
                          %i.fa.fa-chevron-circle-right
                          Amet culpa
                      %li
                        %a{:href => "http://htmlcoder.me/support", :target => "_blank"}
                          %i.fa.fa-chevron-circle-right
                          Atque vero laudantium
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-chevron-circle-right
                          Loat dolot aspree
              .col-md-3
                .footer-content
                  %h4.title.text-default
                    %i.fa.fa-search.pr-10
                    Resources
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Vel consequatur
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Provident obcaecati
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Illo perspiciatis
                      %li
                        %a{:href => "components-forms.html"}
                          %i.fa.fa-chevron-circle-right
                          acilis maiores
                      %li
                        %a{:href => "components-tabs-and-pills.html"}
                          %i.fa.fa-chevron-circle-right
                          Enim modi
                  %h4.title.text-default
                    %i.fa.fa-users.pr-10
                    Staff/Faculty
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-forms.html"}
                          %i.fa.fa-chevron-circle-right
                          acilis maiores
                      %li
                        %a{:href => "components-tabs-and-pills.html"}
                          %i.fa.fa-chevron-circle-right
                          Enim modi
                      %li
                        %a{:href => "http://htmlcoder.me/support", :target => "_blank"}
                          %i.fa.fa-chevron-circle-right
                          Support
              .col-md-3
                .footer-content
                  %h4.title.text-default
                    %i.fa.fa-file-text-o.pr-10
                    Admission
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-forms.html"}
                          %i.fa.fa-chevron-circle-right
                          Facilis maiores
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Provident obcaecati
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Vel consequatur
                      %li
                        %a{:href => "http://htmlcoder.me/support", :target => "_blank"}
                          %i.fa.fa-chevron-circle-right
                          Support
                  %h4.title.text-default
                    %i.fa.fa-child.pr-10
                    Students
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Illo perspiciatis
                      %li
                        %a{:href => "components-tabs-and-pills.html"}
                          %i.fa.fa-chevron-circle-right
                          Enim modi
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-chevron-circle-right
                          Privacy
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Vel consequatur
              .col-md-3
                .footer-content
                  %h4.title.text-default
                    %i.fa.fa-institution.pr-10
                    Schools
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Consectetur adipisicing elit
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Lorem ipsum dolor sit
                      %li
                        %a{:href => "components-tabs-and-pills.html"}
                          %i.fa.fa-chevron-circle-right
                          Amet culpa
                      %li
                        %a{:href => "components-forms.html"}
                          %i.fa.fa-chevron-circle-right
                          Repudiandae porro doloribus
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Rerum iure temporibus
                      %li
                        %a{:href => "http://htmlcoder.me/support", :target => "_blank"}
                          %i.fa.fa-chevron-circle-right
                          Atque vero laudantium
                  %h4.title.text-default
                    %i.fa.fa-info-circle.pr-10
                    Information
                  %nav.mb-20
                    %ul.nav.nav-pills.nav-stacked.list-style-icons
                      %li
                        %a{:href => "components-buttons.html"}
                          %i.fa.fa-chevron-circle-right
                          Consectetur adipisicing elit
                      %li
                        %a{:href => "components-social-icons.html"}
                          %i.fa.fa-chevron-circle-right
                          Lorem ipsum dolor sit
      / .footer end
      / .subfooter start
      / ================
      .subfooter.default-bg
        .container
          .subfooter-inner
            .row
              .col-md-12
                %p.text-center
                  %span.logo-font.pr-10 The College
                  Copyright  2016 The Project by
                  = succeed "." do
                    %a.link-light{:href => "http://htmlcoder.me", :target => "_blank"} HtmlCoder
      / .subfooter end
    / footer end
  / page-wrapper end
  / JavaScript files placed at the end of the document so the pages load faster
  / ==================================================
  / Jquery and Bootstap core js files
  %script{:src => "plugins/jquery.min.js", :type => "text/javascript"}
  %script{:src => "bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
  / Modernizr javascript
  %script{:src => "plugins/modernizr.js", :type => "text/javascript"}
  / jQuery Revolution Slider
  %script{:src => "plugins/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
  %script{:src => "plugins/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
  / Isotope javascript
  %script{:src => "plugins/isotope/isotope.pkgd.min.js", :type => "text/javascript"}
  / Magnific Popup javascript
  %script{:src => "plugins/magnific-popup/jquery.magnific-popup.min.js", :type => "text/javascript"}
  / Appear javascript
  %script{:src => "plugins/waypoints/jquery.waypoints.min.js", :type => "text/javascript"}
  / Count To javascript
  %script{:src => "plugins/jquery.countTo.js", :type => "text/javascript"}
  / Parallax javascript
  %script{:src => "plugins/jquery.parallax-1.1.3.js"}
  / Contact form
  %script{:src => "plugins/jquery.validate.js"}
  / Google Maps javascript
  %script{:src => "https://maps.googleapis.com/maps/api/js?v=3.exp&key=your_google_map_key", :type => "text/javascript"}
  %script{:src => "js/google.map.config.js", :type => "text/javascript"}
  / Background Video
  %script{:src => "plugins/vide/jquery.vide.js"}
  / Owl carousel javascript
  %script{:src => "plugins/owl-carousel/owl.carousel.js", :type => "text/javascript"}
  / Pace javascript
  %script{:src => "plugins/pace/pace.min.js", :type => "text/javascript"}
  / SmoothScroll javascript
  %script{:src => "plugins/jquery.browser.js", :type => "text/javascript"}
  %script{:src => "plugins/SmoothScroll.js", :type => "text/javascript"}
  / Initialization of Plugins
  %script{:src => "js/template.js", :type => "text/javascript"}
  / Custom Scripts
  %script{:src => "js/custom.js", :type => "text/javascript"}

