:sass

  .overlay-bottom 
    padding: 10px 0 10px 0 !important

  .lead
    font-size: 18px !important
#modular_approach.linked

/ section start
/ ================
%section.section.pv-40.light-gray-bg.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3.title.text-center
          Pay only for what you
          %span.text-default need
        .separator
        %p.lead.text-center Users can purchase only the modules that suit their particular requirements, as modules can be added at any subsequent time.
  .container-fluid
    .row
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Core Module
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Member & Join Design
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pipework
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pipelines
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Dynamics
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Fatigue
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Non-Linear Static 
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Non-Linear Dynamic 
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Enviromental Loads
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Vessel Motions
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Trasportation
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/main_features/fs2000.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>1000, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>1000, :width=>750, :y=>-220, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pile Analyses
      
        
                
/ section end
