:sass

  .overlay-bottom 
    padding: 10px 0 10px 0 !important

  .lead
    font-size: 18px !important
#modular_approach.linked

/ section start
/ ================
%section.section.pv-40.light-gray-bg.clearfix
  .container
    .row
      .col-md-8.col-md-offset-2
        %h3.title.text-center
          Pay only for what you
          %span.text-default need
        .separator
        %p.lead.text-center Users can purchase only the modules that suit their particular requirements, as modules can be added at any subsequent time.
  .container-fluid
    .row
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/derrick2.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"crop"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-70, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Core Module
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/jacket", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Member & Join Design
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/pipes.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"fill"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pipework
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/pipeline2.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"scale"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pipelines & Risers
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/dynamics.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>100, :x=>100, :crop=>"crop"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Dynamics
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/ctod.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"crop"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-30, :x=>0, :crop=>"pad"}])
            -# = cl_image_tag("fs2000/fatigue.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>300, :width=>750, :y=>0, :x=>0, :crop=>"fill"} ])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Fatigue & Fracture
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/spool.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"scale"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Non-Linear Static 
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/mooring.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"scale"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Non-Linear Dynamic 
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/enviroment.jpg", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Enviromental Loads
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/stinger.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"crop"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Vessel Motions
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible{ style: "height: 900, width=>750" }
            = cl_image_tag("fs2000/vessel_motions.png", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"crop"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-70, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Trasportation
      .col-sm-6.col-md-4.col-lg-2
        .image-box.shadow.text-center.mb-20
          .overlay-container.overlay-visible
            = cl_image_tag("fs2000/pile4.gif", :client_hints=>true, :transformation=>[ {:dpr=>"auto", :height=>900, :width=>750, :y=>0, :x=>0, :crop=>"fill"}, {:dpr=>"auto", :height=>900, :width=>750, :y=>-0, :x=>0, :crop=>"pad"}])
            %a.overlay-link{:href => "#"}
              %i.fa.fa-link
            .overlay-bottom
              .text
                %p.lead.margin-clear.mobile-visible Pile Analyses
      
        
                
/ section end
