/ scrollToTop
/ ================

:sass
  .linked
    display: block
    position: relative
    top: -45px
    visibility: hidden
      
  .top-margin
    margin: 20px 0 0 0 !important


- content_for :title, I18n.t('views.starfish_title')

= render 'home'
= render 'main_features'
= render 'clients'
= render 'modular_approach'
= render 'sales'
