/ scrollToTop
/ ================

:sass
  .linked
    display: block
    position: relative
    top: -45px
    visibility: hidden
      
  .top-margin
    margin: 20px 0 0 0 !important


- content_for :title, I18n.t('views.starfish_title')

= render 'home'
= render 'main_features'
= render 'modular_approach'
= render 'courses'
= render 'media'
= render 'team'

2.       Main features
3.       Modular Approach  
4.     Projects
4.       Support
5.       Contact
